test repo set up works
